* {
  box-sizing: border-box;
  text-align: center;

  font-family: sans-serif;
  font-size: 1em;
}

:root {
  --color-black: #2c2c2c;
  --color-black-medium: #5e5e5e;
  --color-white-medium: #a1a1a1;
  --color-white: #fff;

  --color-background-black: #2c2c2c;
  --color-background-medium: #e5e5e5;
  --color-background-white: #fff;

  --color-active: #18a0fb;
}

.centered-verticaly {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'sidebar-left main sidebar-right'
    'footer footer footer';
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 40px 4fr 20px;
}

.header {
  grid-area: header;
  background-color: var(--color-background-black);
  color: var(--color-white);
}

.sidebar-left {
  grid-area: sidebar-left;
  background-color: var(--color-background-white);
}

.sidebar-right {
  grid-area: sidebar-right;
  background-color: var(--color-background-white);
}

.main {
  grid-area: main;
  background-color: var(--color-background-medium);
}

.footer {
  grid-area: footer;
  background-color: var(--color-background-black);
  color: var(--color-white-medium);
  font-size: 0.7em;
}
